.btn{
    padding:12px 24px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    font-weight:600;
    transition:0.3s ease;
}

.primary{
    background:#2563EB;
    color:white;
}

.primary:hover{
    background:#1D4ED8;
}

.secondary{
    background:white;
    color:#2563EB;
    border:2px solid #2563EB;
}

.secondary:hover{
    background:#2563EB;
    color:white;
}

.btn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}